/* auth pages */

.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* card styling */

.card {
  justify-content: center;
  box-shadow: 0 0 2px gray;
  width: 400px;
}

/* common styling */

.card-title{ 
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text{
  font-size: 1rem;
}

input{
  border-radius: 2px !important;
  border: 1px solid gray !important;
  height: 35px !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}

label {
  font-size: 16px !important;
}

.ant-form-item {
  margin: 10px !important;
}

.primary-button {
  background-color: #005555 !important;
  border-color: #005555 !important;
  height: 40px !important;
  width: 100% !important;
  color: white !important;
  font-size: 15px !important;
}

.anchor {
  color: black !important;
  text-decoration: underline;
  font-size: 16px !important;
}